@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0dab2;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #64b4be;
    --foreground: #ff1515;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
}
